:root {
  --fuentePrincipal: 'IBM Plex Sans', sans-serif;
	--fuenteSecundaria: 'IBM Plex Mono', monospace;
	--colorFuente: #060A24;
	--colorBoton: #00F3BB;
}

section.menu {
	display: flex;
	width: 1440px;
	height: 80px;
	justify-content: space-between;
}

.menu img {
	height: 36px;
	width: 36px;
}

nav ul {

}

ul li {

}

