:root {
  --fuentePrincipal: 'IBM Plex Sans', sans-serif;
	--fuenteSecundaria: 'IBM Plex Mono', monospace;
	--colorFuente: #060A24;
	--colorBoton: #00F3BB;
}

section.menu {
	display: flex;
	width: 1440px;
	height: 80px;
	justify-content: space-between;
	padding: 22px 100px;
	box-sizing: border-box;
	align-items: center;
}

.menu img {
	height: 36px;
	width: 36px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	padding-right: 48px;
	font-family: var(--fuenteSecundaria);
}

nav ul li:nth-of-type(4) {
	padding-right: 0;
}

ul li a {
	text-decoration: none;
	color: var(--colorFuente);
	font-size: 16px;
	letter-spacing: 0;
	line-height: 28px;
}


ul li a:hover {
	color: var(--colorBoton);
	text-decoration: line-through;
}

ul li a:active {
	color: rgba(6,10,36,0.56);
}


/* header */

body {
	width: 1440px;
}

header {

}

header h1 {
	margin: 120px 518px 0 200px;
	font-family: var(--fuentePrincipal);
	font-size: 46px;
	font-weight: normal;
	letter-spacing: 0;
	padding: 0;
	width: 722px;
}

header h1 span.word {
	text-decoration: line-through;
	margin: 120px 0 0 0;
}

header h1 span.point {
	color: blue;
	border-radius: 50%;
}

header p {
	width: 628px;
	height: 48px;
	margin: 0 612px 56px 200px;
	font-family: var(--fuenteSecundaria);
	font-size: 16px;
	color: var(--colorFuente);
	letter-spacing: 0;
	line-height: 24px;

}

header button {

}

